$blue:linear-gradient(to bottom, #3388ff, #0044cc);
$red:  #E5235A;
$orange: #FCB305;
$light-blue: #151EA6C2;
$bg-light-blue-20: #151EA63B;


.bg-light-blue-20{
    background: $bg-light-blue-20;
}

.bg-blue{
    background: $blue;
}

.bg-red{
    background: $red;
}

.bg-light-blue{
    background: $light-blue;
}


.bg-orange{
    background: $orange;
}

.text-blue{
    color: $blue;
}

.text-red{
    color: $red;
}
.text-orange{
    color: $orange;
}