@import '../abstract/variable';
.categories{
    .accordion-item {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .accordion-button {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
        background: #ffffff;
        transition: all 0.3s ease-in-out;
        padding: 15px;
    }
 
    .accordion-button:hover {
        background-color: $blue;
        color: white;
    }

    .accordion-button:not(.collapsed) {
        background-color: $blue;
        color: white;
    }

    .accordion-button i {
        margin-right: 12px;
        font-size: 1.3rem;
        color: $blue;
    }

    .accordion-button:not(.collapsed) i {
        color: white;
    }

    .accordion-body {
        font-size: 1rem;
        color: #555;
        background: #ffffff;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }

    .accordion-body strong {
        color: #333;
        font-size: 1.1rem;
    }

    .accordion-body ul {
        padding-left: 20px;
    }

    .accordion-body ul li {
        margin-bottom: 8px;
        list-style: none;
    }

    .accordion-body ul li i {
        color: $blue;
        margin-right: 8px;
    }

    @media (max-width: 768px) {
        .accordion-button{
            font-size: 14px !important;
        }
        .small-text {
            font-size: 12px !important; /* Adjust as needed */
            line-height: 1.4;
        }
        
    }
}